<md-dialog aria-label="Plataforma de resolucion de conflictos en línea">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Plataforma de resolucion de conflictos en línea</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">x</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2></h2>
                <p>“En cumplimiento de la obligación de información a los
                consumidores establecida en el Art. 14 del Reglamento (UE)
                524/2013 sobre Resolución de litigios en línea en materia de
                consumo <strong>CANTERA BASE 1939 CANARIAS, S.A.D. </strong>le
                informa que la Comisión Europea facilita una plataforma de
                resolución de conflictos online que se encuentra disponible en
                el siguiente enlace: <a
                 href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=ES">
                    https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=ES
                </a>y donde podrá poner sus reclamaciones para tratar de
                llegar a una solución extrajudicial, si reside en la
                UE.</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
