<md-dialog aria-label="Aviso legal">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Aviso legal</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">x</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                <strong>1. Objeto y aceptación </strong>
                </p>
                <p>El presente aviso legal regula el uso del sitio Web: <a href="http://www.cbcanarias.net" title="www.cbcanarias.net">www.cbcanarias.net</a> <br>
                <strong>Datos del Prestador de Servicios de la Sociedad de la Información</strong>
                <br>
                El presente sitio web pertenece a&nbsp; <strong>CANTERA BASE 1939 CANARIAS, S.A.D.:</strong>
                </p>
                <table width="533" cellspacing="0" cellpadding="0" border="2">
                    <tbody>
                        <tr>
                            <td width="106">NIF: </td>
                            <td width="419" valign="top">
                                <p>A76614999</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="106">
                                <p>Dirección:</p>
                            </td>
                            <td width="419" valign="top">
                                <p>Calle   Mercedes S/N - Pabellón Santiago Martin<br>
                                38108 - La Laguna – Santa Cruz de Tenerife </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="106">
                                <p>correo-e:</p>
                            </td>
                            <td width="419" valign="top">
                                <p> <a href="mailto:secretaria@cbcanarias.es">secretaria@cbcanarias.es</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="106">
                                <p>Teléfono:</p>
                            </td>
                            <td width="419" valign="top">
                                <p>922253684 </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                <strong>&nbsp;</strong>
                </p>
                <table width="530" cellspacing="0" cellpadding="0" border="2">
                    <tbody>
                        <tr>
                            <td width="135">
                                <p>Web alojada por: </p>
                            </td>
                            <td width="276">
                                <p>……</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Web diseñada por: </p>
                            </td>
                            <td width="276">
                                <p>……</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>La navegación por la página <a href="http://www.cbcanarias.net" title="www.cbcanarias.net">www.cbcanarias.net</a> atribuye la condición de usuario de la misma e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, que pueden sufrir modificaciones. <br>
                El usuario se obliga a hacer un uso correcto del sitio Web de conformidad con las leyes, la buena fe, el orden público, los usos del tráfico y el presente Aviso Legal. El Usuario responderá frente a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> y frente a terceros, de los daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.</p>
                <p>&nbsp;</p>
                <p>2. <strong>Condiciones generales de acceso y utilización</strong>
                </p>
                <p>El sitio Web y sus servicios son de acceso libre y gratuito.<strong> </strong>Sólo&nbsp; los mayores de 14 años podrán facilitar datos a través de nuestra web, ya que los menores de 14 años no pueden facilitarlos sin el consentimiento de los padres o tutores. Solo los mayores de 14 años podrán realizar solicitudes o facilitar datos. <br>
                El Usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> y será el único responsable de las manifestaciones falsas o inexactas que realice.<br>
                El Usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios ofrecidos y a no emplearlos para:</p>
                <ul>
                    <li>Difundir contenidos delictivos, violentos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público. </li>
                    <li>Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> o de terceras personas; así como obstaculizar el acceso de otros Usuarios al sitio Web y a sus servicios.</li>
                    <li>Intentar acceder a áreas restringidas de los sistemas informáticos de <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> o de terceros y, en su caso, extraer información.</li>
                    <li>Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> o de terceros.</li>
                    <li>Suplantar la identidad de otro Usuario, de las administraciones públicas o de un tercero.</li>
                    <li>Reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido</li>
                    <li>Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.</li>
                </ul>
                <p>
                <strong>2.2. Procedimiento en caso de realización de actividades de carácter ilícito</strong>
                </p>
                <p>
                En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas Web incluidas o accesibles a través del sitio Web, deberá enviar una notificación a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información proporcionada en la notificación es exacta. </p>
                <p>&nbsp;</p>
                <p>3. <strong>Política de privacidad</strong>
                </p>
                <p>
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> se compromete a cumplir la legislación vigente en materia de tratamiento de datos de carácter personal y, en particular, la Ley Orgánica 15/99, de 13 de diciembre, de Protección de Datos de Carácter Personal (en adelante LOPD). Mediante la siguiente política de privacidad <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> informa a los usuarios&nbsp; de los siguientes extremos:</p>
                <p>3.1. <strong>Titularidad del fichero</strong>
                </p>
                <p>
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> informa al usuario que los datos que suministre a través de envío de correos electrónicos, van a ser incluidos en un fichero con el nombre de “USUARIOS WEB” del que es titular <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> con domicilio en Calle Mercedes S/N - Pabellón Santiago Martin, 38108 – La Laguna (Santa Cruz de Tenerife). <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> garantiza que el fichero es de su plena responsabilidad y que se encuentra debidamente declarado e inscrito en el Registro General de la Agencia Española de Protección de Datos.</p>
                <p>3.2. <strong>Apartados en los que se recogen datos de los usuarios</strong>
                </p>
                <p>1) <strong>Al usar nuestra plataforma: </strong>Recogemos datos de los usuarios cuando usan nuestra plataforma a través de las cookies propias y de terceros, como Google Analytics. Si quiere saber más consulte nuestra política de cookies. </p>
                <p>3.3. <strong>Finalidad del tratamiento de los datos de carácter personal</strong>
                </p>
                <p>Al&nbsp; remitir un correo-e a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> solicitando información cada titular acepta y autoriza a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> a utilizar y tratar los datos personales suministrados para el mantenimiento de la relación con nuestros usuarios y la tramitación&nbsp; de la solicitud o compra efectuada y para fidelizarle como cliente. Igualmente, los datos serán utilizados para estudios estadísticos y análisis de perfiles con la finalidad de prestar un mejor servicio a los usuarios.<br>
                Se comunica al usuario que sus datos serán cedidos a las entidades colaboradoras cuando sea necesario para facilitarle los servicios seleccionados. Asimismo, el titular de los datos mediante la aceptación de la presente cláusula de protección de datos presta su consentimiento expreso para que <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> utilice sus datos&nbsp; para el envío de ofertas y promociones de nuestros servicios o de terceros del sector que puedan ser de su interés, por el medio que estimemos más oportuno, incluidos los medios electrónicos.<br>
                Ocasionalmente,&nbsp; <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> podrá utilizar sus datos de carácter personal para enviarle notificaciones por medio de correo electrónico. Dichas notificaciones se harán para informar sobre las modificaciones en nuestros servicios.</p>
                <p>3.4. <strong>Instrucciones para la cumplimentación de los diversos formularios o apartados. Edad mínima</strong>
                </p>
                <p>Todos los campos marcados con un (*) son de cumplimentación obligatoria. Si no los cumplimenta en su totalidad no podremos atender su solicitud. Los formularios solo puede ser cumplimentados por personas mayores de 14 años, ya que los menores de 14 años no pueden facilitar sus datos sin consentimiento de sus padres o tutores. Solo los mayores de 14 años podrán realizar solicitudes. El Usuario garantiza que es mayor de catorce años y asegura la autenticidad y actualidad de todos aquellos datos que comunique a <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> y será el único responsable de las manifestaciones falsas o inexactas que realice.</p>
                <p>3.5. <strong>Confidencialidad de los datos y medidas de seguridad</strong>
                </p>
                <p>
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> garantiza la adopción de las medidas oportunas para asegurar el tratamiento confidencial de dichos datos establecidas en el RD 1720/2007, de 26 de diciembre&nbsp; por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/99, de 13 de diciembre, de Protección de Datos de Carácter Personal, en especial garantiza la confidencialidad de los datos.</p>
                <p>3.6. <strong>Ejercicio de derechos</strong>
                </p>
                <p>
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> le informa que podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, identificándose en los términos establecidos legalmente (por medio de copia del DNI u otro documento identificativo), indicando el derecho concreto que desea ejercitar y dirección o forma de contacto a efectos de notificación en la siguiente dirección: Calle Mercedes S/N - Pabellón Santiago Martin, 38108 – La Laguna (Santa Cruz de Tenerife) o en el siguiente correo-e <a href="mailto:secretaria@cbcanarias.es">secretaria@cbcanarias.es</a> &nbsp; </p>
                <p>3.7. <strong>Cesión de Datos</strong>
                </p>
                <p>En ocasiones <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> puede poner información personal a disposición de terceros con los que <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> mantiene una relación para brindar productos o servicios a nuestros usuarios. <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> comparte la información personal únicamente para ofrecer o mejorar sus productos, servicios, o con fines publicitarios. </p>
                <p>&nbsp;</p>
                <p>4. <strong>Política de cookies</strong>
                </p>
                <p>4.1. <strong>¿Qué son las Cookies?</strong>
                </p>
                <p>Una cookie es un archivo de texto que un servidor web puede guardar en el disco duro de tu equipo para almacenar algún tipo de información sobre ti como usuario. Las cookies se utilizan con diversas finalidades tales como almacenar datos para próximas visitas, para reconocer al usuario y evitar pedir de nuevo la autentificación, para saber que paginas visitas, o para guardar tus preferencias en áreas personalizables...). Normalmente los sitios web utilizan las cookies para obtener información estadística sobre sus páginas web, y analizar el comportamiento de sus clientes/usuarios.</p>
                <p>4.2. <strong>Tipos de cookies</strong>
                </p>
                <p>Las cookies pueden clasificarse según los siguientes criterios:<br>
                Según quien instala la cookie éstas pueden ser: <br>
                Cookies propias: Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.</p>
                <p>Cookies de terceros: Son aquéllas que se envían al equipo terminal del usuario&nbsp; bien desde un desde un equipo o dominio gestionado por <strong>CANTERA BASE 1939 CANARIAS, S.A.D. </strong>o por un tercero, pero la información que se recoja las cookies es gestionada por un tercero distinto de <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong>.</p>
                <p>Según su <strong>plazo</strong> las cookies pueden ser:</p>
                <p>
                Cookies de sesión: Son aquellas que duran el tiempo que el usuario está navegando por la página Web y se borran cuando finaliza la navegación.<strong> </strong>
                </p>
                <p>
                Cookies persistentes:&nbsp;Quedan almacenadas en el terminal del usuario, por un tiempo más largo, facilitando así el control de las preferencias elegidas sin tener que repetir ciertos parámetros cada vez que se visite el sitio Web.</p>
                <p>
                Según su <strong>finalidad</strong> las cookies pueden ser:<strong> </strong>
                </p>
                <p>
                Cookies técnicas: Las&nbsp;<em>cookies</em>&nbsp;técnicas son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de un sitio Web y el uso de las diversas opciones y servicios que ofrece. Por ejemplo, las de mantenimiento de sesión, las que permiten utilizar elementos de seguridad, compartir contenido con redes sociales, etc.</p>
                <p>
                Cookies de personalización: Permiten al usuario escoger o personalizar características de la página Web como el idioma, configuración regional o tipo de navegador.</p>
                <p>
                Cookies analíticas: Son las utilizadas por los portales Web, para elaborar perfiles de navegación y poder conocer las preferencias de los usuarios con el fin de mejorar la oferta de productos y servicios. Permiten controlar áreas geográficas de mayor interés de un usuario, la información de la web de más aceptación, etc.</p>
                <p>
                Cookies publicitarias / de publicidad: Permiten la gestión de los espacios publicitarios en base a criterios concretos. Por ejemplo la frecuencia de acceso, el contenido editado, etc.</p>
                <p>
                Las&nbsp;<em>cookies</em>&nbsp;de publicidad permiten a través de la gestión de la publicidad almacenar información del comportamiento a través de la observación de hábitos, estudiando los accesos y formando un perfil de preferencias del usuario, para ofrecerle publicidad relacionada con los intereses de su perfil.</p>
                <p>4.3. <strong>Cookies utilizadas en nuestra web</strong>
                </p>
                <p>Cookies propias de nuestro sitio web:</p>
                <table width="411" cellspacing="0" cellpadding="0" border="2">
                    <tbody>
                        <tr>
                            <td width="89">
                                Nombre genérico de las cookies </td>
                            <td width="223">
                                <p align="left">Finalidad</p>
                            </td>
                            <td width="100">
                                <p align="left">¿Cuando se instala?</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="89">
                                <p align="left">De sesión</p>
                            </td>
                            <td width="223">
                                <p align="left">Cookies temporales que permanecen en su   navegador hasta que abandone nuestra&nbsp;   web. La información obtenida&nbsp;   sirve para analizar pautas de tráfico en la web y para prestar   adecuadamente nuestros servicios. A la larga, esto permite proporcionar una   mejor experiencia para mejorar el contenido y facilitar su uso.</p>
                            </td>
                            <td width="100">
                                <p align="left">Cuando accede al sitio Web</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Cookies de terceros utilizadas en nuestro sitio web:</p>
                <table width="411" cellspacing="0" cellpadding="0" border="2">
                    <tbody>
                        <tr>
                            <td width="85">
                                Nombre genérico de las cookies </td>
                            <td width="142">
                                <p align="left">Finalidad</p>
                            </td>
                            <td width="106">
                                <p align="left">¿Cuando se instala?</p>
                            </td>
                            <td width="78">
                                <p align="left">Más información</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="85">
                                <p align="left">Google Analytics</p>
                            </td>
                            <td width="142">
                                <p align="left">Herramienta de Google para ayuda a   analizar&nbsp; a los propietarios de los   sitios web el modo en que sus visitantes interactúan con sus propiedades. <br>
                                tma, utmb, utmc, utmz, utmv y&nbsp;utmx</p>
                            </td>
                            <td width="106">
                                <p align="left">Cuando se accede al sitio Web</p>
                            </td>
                            <td width="78">
                                <p align="left"> <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Pulsa   aquí</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Nuestro sitio no controla las&nbsp;<em>cookies</em>&nbsp;utilizadas por estos terceros. Para más información sobre las <em>cookies</em>&nbsp;de las redes sociales u otras Webs ajenas, aconsejamos revisar sus propias políticas de&nbsp;<em>cookies.</em>
                </p>
                <p>
                <strong>4.4. Información y obtención del consentimiento para la instalación</strong>
                </p>
                <p>
                <a href="http://www.cbcanarias.net" title="www.cbcanarias.net">www.cbcanarias.net</a> procurará en todo momento establecer mecanismos adecuados para obtener el consentimiento del Usuario para la instalación de cookies que lo requieran. Cuando un usuario accede a nuestra web aparece un pop-up&nbsp; en el que se informa de la existencia de cookies y de que si continúa navegando por nuestra página presta su consentimiento para la instalación de&nbsp; cookies.</p>
                <p>4.5. <strong>¿Cómo puedo impedir la instalación de cookies?</strong>
                </p>
                <p>El usuario puede configurar su navegador para aceptar, o no, las cookies que recibe o para que el navegador le avise cuando un servidor quiera guardar una cookie. Si se deshabilitan algunas cookies no se garantiza el correcto funcionamiento de algunas de las utilidades de la web.<br>
                A continuación le facilitamos algunos ejemplos de cómo deshabilitar las cookies en función del tipo de navegador utilizado:</p>
                <ul>
                    <li>
                        <strong>Microsoft Internet Explorer: </strong>opción de menú Herramientas, seleccionando Opciones de Internet y accediendo a Privacidad.<strong>
                        </strong>
                    </li>
                    <li>
                        <strong>Firefox para Mac: </strong>opción de menú Preferencias, seleccionando Privacidad, accediendo al apartado Mostrar Cookies</li>
                    <li>
                        <strong>Firefox para Windows:</strong>&nbsp; acuda a la opción de menú Herramientas, seleccione Opciones, acceda a Privacidad y luego a Usar una configuración personalizada para el historial</li>
                    <li>
                        <strong>Safari</strong>: acceda a&nbsp; la opción de menú Preferencias y seleccione Privacidad. </li>
                    <li>
                        <strong>Google Chrome:</strong> en la opción de menú Herramientas, seleccionando Opciones (Preferencias en Mac), accediendo a Avanzadas y luego en la opción Configuración Contenido de la sección Privacidad, y finalmente marcando Cookies en el apartado Configuración de contenido.</li>
                </ul>
                <p>Para ampliar esta información acuda a la siguiente página de la Agencia Española de Protección de Datos que ayuda a configurar la privacidad en redes sociales, navegadores y sistemas operativos móviles. <a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/protegetuprivacidad/index-ides-idphp.php">Más información</a>. </p>
                <p>
                <strong>4.6. Enlaces a otros sitios web</strong>
                </p>
                <p>Si opta por abandonar nuestro sitio Web a través de enlaces a otros sitios Web no pertenecientes a nuestra entidad, <a href="http://www.cbcanarias.net" title="www.cbcanarias.net">www.cbcanarias.net</a> no se hará responsable de las políticas de privacidad de dichos sitios Web ni de las cookies que estos puedan almacenar en el ordenador del usuario. </p>
                <p>&nbsp;</p>
                <p>5. <strong>Notificaciones</strong>
                </p>
                <p>
                Todas las notificaciones y comunicaciones entre los usuarios y
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong>&nbsp; se
                considerarán eficaces, a todos los efectos, cuando se realicen
                a través de correo postal o correo electrónico o comunicación
                telefónica. Los usuarios deberán dirigirse a <strong>CANTERA
                BASE 1939 CANARIAS, S.A.D.</strong> mediante:<br>
                Envío por correo postal a la siguiente dirección:
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> – Calle
                Mercedes S/N - Pabellón Santiago Martin 38108 - La Laguna
                –Santa Cruz de Tenerife. <br>
                Envío por correo electrónico a la siguiente dirección: <a href="mailto:secretaria@cbcanarias.es">secretaria@cbcanarias.es</a> &nbsp;&nbsp; </p>
                <p>&nbsp;</p>
                <p>6. <strong>Propiedad Industrial y propiedad intelectual</strong>
                </p>
                <p>
                Todos los contenidos del sitio Web, como textos, fotografías,
                gráficos, imágenes, iconos, tecnología, software, así como su
                diseño gráfico y códigos fuente, constituyen una obra cuya
                propiedad pertenece a <strong>CANTERA BASE 1939 CANARIAS,
                    S.A.D.</strong>, sin que puedan entenderse cedidos al Usuario
                ninguno de los derechos de explotación sobre los mismos más allá de
                lo estrictamente necesario para el correcto uso de la Web. <br>
                En definitiva, los usuarios que accedan a este sitio Web pueden
                visualizar los contenidos y efectuar, en su caso, copias
                privadas autorizadas siempre que los elementos reproducidos no
                sean cedidos posteriormente a terceros, ni se instalen a
                servidores conectados a redes, ni sean objeto de ningún tipo de
                explotación y única y exclusivamente mientras se encuentre en
                vigor el servicio. <br>
                Asimismo, todas las marcas, nombres comerciales o signos
                distintivos de cualquier clase que aparecen en el sitio Web son
                propiedad de <strong>CANTERA BASE 1939 CANARIAS,
                    S.A.D.</strong>, sin que pueda entenderse que el uso o acceso
                al mismo atribuya al Usuario derecho alguno sobre los mismos. <br>
                Quedan prohibidas la distribución, modificación, cesión o
                comunicación pública de los contenidos y cualquier otro acto
                que no haya sido expresamente autorizado por <strong>CANTERA
                    BASE 1939 CANARIAS, S.A.D.</strong> En caso de incumplimiento
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong>
                <strong> </strong>procederá a adoptar las medidas legales oportunas. </p>
                <p>&nbsp;</p>
                <p>7. <strong>Exención de responsabilidad y modificación del presente aviso legal</strong>
                </p>
                <p>La información que se difunde en esta web se hace única y exclusivamente&nbsp; a título informativo, reservándose <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> el derecho de eliminar o suspender su difusión, total o parcialmente, y a modificar la estructura y contenido de este sitio Web sin aviso previo, pudiendo incluso limitar o no permitir el acceso a dicha información. <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> intenta&nbsp; mantener la calidad y actualización de esta información y evitar y minimizar posibles errores pero <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> no responderá de los daños o perjuicios causados por decisiones tomadas en base a la información difundida; ni de inexactitudes, omisiones o errores contenidos en el mismo, ni de los problemas que se originen por el uso de este sitio Web u otro de conexión externa; ni de los daños y/o perjuicios en el software o hardware del usuario que se deriven del acceso a este sitio Web.<br>
                Los Usuarios aceptan expresamente que&nbsp;<strong>CANTERA BASE 1939 CANARIAS, S.A.D. </strong>&nbsp;no será responsable del acceso no autorizado o alteración de sus transmisiones o datos, de cualquier material o datos enviados o recibidos o no enviados o recibidos, ni de ninguna transacción realizada a través de su web. <br>
                <strong>CANTERA BASE 1939 CANARIAS, S.A.D.</strong> se reserva el derecho a modificar el presente aviso legal unilateralmente y sin preaviso&nbsp; en los términos y condiciones que estime conveniente con la única obligación de informar al usuario de las modificaciones efectuadas a través de <a href="http://www.cbcanarias.net" title="www.cbcanarias.net">www.cbcanarias.net</a>
                </p>
                <p>&nbsp;</p>
                <p>8. <strong>Ley aplicable y tribunales competentes</strong>
                </p>
                <p>El presente sitio web queda sometido a lo establecido por la legislación española. Los tribunales de SANTA CRUZ DE TENERIFE, serán los competentes para conocer acerca de cualquier controversia que pueda con respecto a la utilización de la presente página. </p>
                <p>
                <br>
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
