<md-dialog aria-label="Aviso legal">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Aviso legal</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">x</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-controller="staticDataCtrl as ctrl">
                <div flex-gt-xs="100" ng-repeat="element in elements()" ng-if="element.title == 'Aviso legal'" bind-html-compile="element.content"></div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
