$main_color:               gold;
$main_color_transparent:   rgba(21, 56, 138, 0.5);
$main_color_contrast:      black;
$secondary_color:          #015aa9;
$secondary_color_contrast: #f6f6f6;
$body_background_color:    black;
$background_color:         #eeeeee;
$edges_color:              lightgrey;
$content_background_color: rgba(255, 255, 255, 0.4);
$news_background_color:    rgba(255, 255, 255, 0.6);
$caption_background_color: rgba(255, 255, 255, 0.6);
$body_background_image:    url("img/skyline.svg");
$list_data_color:          #777777;
$black:                    #000000;
$grey:                     #eeeeee;
$white:                    #ffffff;
$button_active:            #ffffff;
