app-paginator-browser {
    a, date, .item-content {
        color: $list_data_color;
        text-shadow: none;
        font-weight: bold;
        text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
        transform: matrix(1,0,0,0.85,0,15);
        a {
            color: $black;
            text-shadow: none;
        }
    }
}
