.bottom-extra{
    text-align: center;
    padding-top: 1.5em;
    .column:nth-child(1) .row{
        img{
            height: 95px;
        }
    }
    .column:nth-child(2) .row{
        img{
            margin-top: 0.5em;
        }
    }
    .column:nth-child(3) .row{
        padding: 0 3em;
    }
}
