.content-wrapper *:not(md-toolbar){
    .main {
        h1, h2, h3 {
            color: $main_color;
            text-shadow: 0px 0px 1px $main_color_contrast;
            border-bottom-color: $white;
            border-bottom-style: solid;
            border-bottom-width: 0.25em;
            margin-left: 3rem;
            margin-right: auto;
        }
        h2, h3 {
            border-bottom-width: 3px;
            display: inline-block;
        }
        h1 {
            font-size: xx-large;
            margin-right: 3rem;
        }
        h2 {
            font-size: x-large;
        }
        h3 {
            font-size: large;
        }
    }
    h1, h2, h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    .news {
        .article-content {
            text-align: justify;
        }
    }
    app-titlebar, app-titlebar + div[ng-transclude] {
        background-color: $main_color;
        //border-bottom: 2px solid $grey;
        //border-radius: 0.5em 0.5em 0 0;
        border-radius: 0.5em;
        margin-bottom: 0.5em;
    }
}
