.header-wrapper{
    position: relative;
    > div{
        text-align: center;
        &:first-child {
            padding: 0 0.5em;
            > div{
                img {
                    max-height: 100%;
                    width: auto;
                }
                &:first-child {
                    padding-bottom: 0.5em;
                }
            }
        }
        &:last-child {
            bottom: 1em;
            left:0;
            right:0;
            padding: 0.5em 0;
            width:100%;
        }
    }
    .sliding-banner {
        background-color: $main_color;
        color: $main_color_contrast;
        border-bottom: 2px solid $edges_color;
        border-radius: 0.5em 0.5em 0 0;
    }
}
