.link-lists {
    padding-top: 3em;
    padding-bottom: 3em;
    .row .columns {
        height: 400px;
        background-size: cover;
        background-position: bottom center;
        padding: 3em;
    }
}
