.news-list {
    background-color: $news_background_color;
    border-radius: 0.5em;
    border-color: $black;
    border-style: solid;
    border-width: 1px;
    footer a {
        color: $main_color_contrast;
        text-shadow: 0.1em 0.05em $main_color;
    }
}
