.post-title {
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    border-bottom-color: $main_color;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

