app-sliding-banner .sliding-banner {
    span{
        margin: 0 2em;
    }
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    opacity: 0.9;
    padding: 0.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    //color: $main_color_contrast;
    //background-color: $content_background_color;
}
app-patreon-slider .sliding-banner {
    background-color: $white;
    //-moz-box-shadow: 0 0 5px 2px white;
    //-webkit-box-shadow: 0 5px 2px white;
    //box-shadow: 0 0 5px 2px white;
    > * {
        margin-right: 3em;
    }
}
