.tabs-wrapper {
    background-color: $background-color;
    padding:0 !important;
    margin:0 !important;

    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: $edges-color;

    .md-nav-bar {
        border-style: none;
    }
    .md-button {
        text-transform: none;
        text-align: center;
    }
}
