.tabs {
    background-color: transparent;
    border: none;
    a {
        padding-top: 2em;
        color: black;
        font-size: 16px;
    }
    .is-active {
        a, a:focus {
            background-color: none;
            border-bottom: 3px solid #d2251a;
            font-weight: bold;
        }
    }
}

