.team {
    margin-left: 3.5em !important;
    margin-right: 3.5em !important;
    figcaption {
        color: $main_color_contrast;
        padding-top: 1.5em;
        p {
            font-size: 70%;
            margin: 0;
        }
        .label {
            display:block;
            position: absolute;
            bottom: 0;
            margin: 0;
            width: 100%;
            cursor: pointer;
        }
    }
}
