.territorial-header {
    color: $main_color_contrast;
    margin-bottom: 3em;
    text-align: center;
    padding-top: 0 !important;
    &, & > .inner-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 35rem;
    }
    .inner-wrapper{
        padding-top: 5rem !important;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.0));
    }
    h1 {
        border-bottom: 2px solid $main_color;
        margin-left: 25%;
        max-width: 50%;
        min-width:0;
        padding: 0.5em;
        width:auto;
    }
    h1, h2 {
        color: $main_color_contrast;
        text-shadow: 1px 1px 1px black;
    }
}
