.title-bar {
    padding: 0;
    background-color: transparent !important;
    color: $main_color_contrast;
    width: 100%;

    .md-button, .md-button * {
        color: $main_color_contrast;
        text-shadow: 0.1em 0.05em $main_color;
        font-weight: bold;
    }
    *:not(.submenu) {
        background-color: transparent;
        color: $main_color_contrast;
    }
    *.submenu{
        background-color: $main_color-transparent;
        color: $main_color_contrast;
    }
    a {
        color: $main_color_contrast;
    }
    > .title-bar-left {
        text-transform: uppercase;
        > div:first-child {
            padding: 0.7em;
        }
    }
    > .title-bar-right {
        .icon-wrapper {
            padding: 0.7em;
        }
    }
    .active {
        color: $button_active;
    }

}
/*
 * Enable this after fixing JS infinite recursion problems
 */

/*
.title-bar:not(.sub-level) {
    background-color: $main_color-transparent;
    position: fixed;
}
*/
